<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" type="text/css" href="bower_components/jquery-ui/themes/redmond/jquery-ui.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>


<body ng-controller="AppController">

uuid {{uuid}}<br>
username: {{userName}}<br>
password {{password}}

<div id="container">
    <div id="header"></div>
    <div class="stars"></div>
    <div id="navbar">
        <ul>
            <li ng-click="goto('/sign_in')">
                <a class="navBox">Logga in</a>
            </li>
            <li ng-click="goto('/create')">
                <a class="navBox">Nytt recept</a>
            </li>
            <li ng-click="goto('/recipes')">
                <a class="navBox">Alla recept</a>
            </li>
        </ul>
    </div>

    <div id="content_area">
        <div ng-view></div>
    </div>

    <div id="footer"></div>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="app.js"></script>

<script src="util/directives/directives.module.js"></script>
<script src="util/directives/auto-complete.directive.js"></script>

<script src="sign_in/sign-in.module.js"></script>
<script src="sign_in/sign-in.route.js"></script>
<script src="sign_in/sign-in.controller.js"></script>

<script src="create/create.module.js"></script>
<script src="create/create.route.js"></script>
<script src="create/create.controller.js"></script>

<script src="recipes/recipes.js"></script>
<script src="util/api.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>

</body>
</html>



recIng_FIXED: {"amount":"1","measurement":{"uuid":"111111","creationDate":"2016-01-05 00:00:00","lastUpdate":"2016-01-05 00:00:00","name":"st"},"$$hashKey":"object:4","ingredient":{"uuid":"333","creationDate":"2016-01-06 00:00:00","lastUpdate":"2016-01-06 00:00:00","name":"spaghetti","recipeIngredients":[]}}
recIng_FIXED: {"amount":"2","measurement":{"uuid":"111111","creationDate":"2016-01-05 00:00:00","lastUpdate":"2016-01-05 00:00:00","name":"st"},"$$hashKey":"object:9","ingredient":{"uuid":"333","creationDate":"2016-01-06 00:00:00","lastUpdate":"2016-01-06 00:00:00","name":"spaghetti","recipeIngredients":[]}}